@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: white;
  transition: all 0.3s;
}
main {
  display: grid;
  justify-content: center;
}

.topBg {
  position: absolute;
  height: 32dvh;
  width: 100dvw;
  max-width: 100%;
  background-color: hsl(225, 100%, 98%);
  z-index: -1;
  overflow: hidden;
  transition: all 0.3s;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 0 0;
  margin-bottom: 2.5rem;
}

.mainText {
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: hsl(230, 17%, 14%);
  transition: all 0.3s;
}
.sideText {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}
.darkMode {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.darkText {
  color: hsl(228, 12%, 44%);
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  transition: all 0.3s;
}
.btn {
  display: flex;
  align-items: center;
  width: 4.2rem;
  padding: 0.2rem 0.3rem;
  height: 2rem;
  border-radius: 1rem;
  background: hsl(226, 12%, 78%);
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
.btnCircle {
  position: relative;
  left: 1.9rem;
  padding: 0.8rem 0.8rem;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s;
}

/* top Card sections */

.topSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.topSectionCenter {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.faceDashboard {
  display: grid;
  justify-content: center;
  text-align: center;
  border-top: 5px solid hsl(208, 92%, 53%);
  width: 300px;
  height: fit-content;
  padding: 2rem 0;
  border-radius: 0.4rem;
  background-color: hsl(227, 47%, 96%);
}
.allDash {
  transition: all 0.3s;
  cursor: pointer;
}
.allDash:hover {
    filter: brightness(90%);
}
.twitterDashboard {
  display: grid;
  justify-content: center;
  text-align: center;
  border-top: 5px solid hsl(203, 89%, 53%);
  width: 300px;
  height: fit-content;
  padding: 2rem 0;
  border-radius: 0.4rem;

  background-color: hsl(227, 47%, 96%);
}
.instaDashboard {
  display: grid;
  justify-content: center;
  text-align: center;
  border-top: 5px solid;
  border-image: linear-gradient(90deg, #fdc468, #df4996) 1;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  width: 300px;
  height: fit-content;
  padding: 2rem 0;
  border-radius: 0.4rem;

  background-color: hsl(227, 47%, 96%);
}
.youtubeDashboard {
  display: grid;
  justify-content: center;
  text-align: center;
  border-top: 5px solid hsl(348, 97%, 39%);
  width: 300px;
  height: fit-content;
  padding: 2rem 0;
  border-radius: 0.4rem;

  background-color: hsl(227, 47%, 96%);
}

.dashboardTop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.dashboardTop img {
  width: 1.6rem;
}
.dashboardTop p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}
.dashboardCenter {
  display: grid;
  place-items: center;
  line-height: 3.5rem;
}
.fnum {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.followers {
  font-size: 0.89rem;
  font-weight: 400;
  letter-spacing: 0.48rem;
  color: hsl(228, 12%, 44%);
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}
.dashboardDown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: hsl(163, 72%, 41%);
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.unSubscribers {
  color: hsl(356, 69%, 56%);
}

.midText {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  padding: 1rem 0rem;
  color: hsl(228, 12%, 44%);
  transition: all 0.3s;
}

.downSection {
  display: grid;
  place-items: center;
}
.downSectionCenter {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1.9rem;
  row-gap: 1.4rem;
}
.overFaceOne {
  display: grid;
  align-items: center;
  padding: 2rem 1.5rem;
  height: fit-content;
  width: 300px;
  background-color: hsl(227, 47%, 96%);
  border-radius: 0.4rem;
  transition: all 0.3s;
  cursor: pointer;
}
.overFaceOne:hover {
    filter: brightness(90%);

}
.overFaceTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}
.overFaceTop span {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: hsl(228, 12%, 44%);
}
.overFaceTop img {
  width: 1.6rem;
}

.overFaceDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.overFaceDown span {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.overFaceDownArrow {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.overFaceDownArrow span {
  font-size: 1rem;
  color: hsl(163, 72%, 41%);
}
.overFaceDownArrow .redArrow {
  color: hsl(348, 97%, 39%);
}

.madeBy {
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 0;
}
.madeBy span {
  font-family: "Inter", sans-serif;
}
.madeBy span a {
  text-decoration: none;
  color: hsl(348, 97%, 39%);
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
.madeBy span a:hover {
  color: hsl(163, 72%, 41%);
}
/*Toggle DarkTheme */

.changeBG {
  background-color: hsl(230, 17%, 14%);
}
.changeBGCards {
  background-color: hsl(228, 28%, 20%);
}
.changetopBg {
  background-color: hsl(232, 19%, 15%);
}
.changeMainText {
  color: #fff;
}
.changeText {
  color: hsl(228, 34%, 66%);
}
.changeDarkmodeBtnBG {
  background: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
.btnCircleDark {
  left: 0rem;
  background: hsl(232, 19%, 15%);
}

@media (max-width: 1430px) {
  nav {
    padding: 1rem 2rem 0 2rem;
  }
  .midText {
    padding-left: 2rem;
  }
  .topSectionCenter {
    gap: 1.5rem;
  }
  .faceDashboard {
    width: 280px;
  }
  .instaDashboard {
    width: 280px;
  }
  .twitterDashboard {
    width: 280px;
  }
  .youtubeDashboard {
    width: 280px;
  }
  .fnum {
    font-size: 3.5rem;
  }
  .followers {
    letter-spacing: 0.3rem;
  }
  .downSectionCenter {
    gap: 1.5rem;
  }
  .overFaceOne {
    width: 280px;
  }
}

@media (max-width: 1200px) {
  .topSectionCenter {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .downSectionCenter {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
@media (max-width: 1100px) {
  .topBg {
    display: none;
  }
}

@media (max-width: 950px) {
  nav {
    display: grid;
    justify-content: start;
    padding-left: 1rem;
    gap: 1rem;
  }
  .mainTop {
    padding-bottom: 0.8rem;
    border-bottom: 1px solid gray;
  }
  .mainText {
    font-size: 2rem;
  }

  .topSectionCenter {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .downSectionCenter {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}

@media (max-width: 630px) {
  nav {
    display: grid;
    justify-content: start;
  }
  .topSectionCenter {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .downSectionCenter {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, auto);
  }
  .mainText {
    font-size: 1.5rem;
  }
  .midText {
    padding-left: 0.5rem;
  }
  .topSectionCenter {
    gap: 1rem;
  }
  .faceDashboard {
    width: 330px;
    padding: 1.5rem 0;
  }
  .instaDashboard {
    width: 330px;
    padding: 1.5rem 0;
  }
  .twitterDashboard {
    width: 330px;
    padding: 1.5rem 0;
  }
  .youtubeDashboard {
    width: 330px;
    padding: 1.5rem 0;
  }
  .fnum {
    font-size: 5rem;
  }
  .followers {
    letter-spacing: 0.4rem;
  }
  .downSectionCenter {
    gap: 1.5rem;
  }
  .overFaceOne {
    width: 330px;
  }
  .mainTop {
    width: 100%;
    margin: 0 1rem;
  }
  .darkMode {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
}
